body {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	padding: 0 2%;
}

a:link, a:visited, a:hover, a:active {
	color: #000;
}

footer {
	padding-top: 2%;
}

table {
	border-spacing: 0px;
}

table, th, td {
  border: 1px solid #FFF;
}

th, td {
  padding: 5px;
  width: 1%;
}

td {
	background: #FFF;
	vertical-align: top;
}

th {
	background: grey;
	color: white;
}

tbody tr td.mandatory {
	background: #7DFA47;
}

tbody tr td.stretch {
	background: #E4EE6C;
}
