body {
	font-family: Tahoma, sans-serif;
	color: #333;
	background-color: #FFF;
	padding: 0 2%;
}

header h1 {
	float: left;
}

header a {
	padding: 25px;
	float: right;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
}

.clear {
	clear: both;
}

i {
	color: #5C5C5C;
}

a:link, a:visited, a:hover {
	color: #000;
}

a:active {
	color: #7d7d7c;
}

footer {
	padding-top: 2%;
}

table {
	border-spacing: 0px;
}

table, th, td {
  border: 1px solid #FFF;
}

th, td {
  padding: 10px;
  width: 1%;
}

td {
	background: #D6D6D6;
	vertical-align: top;
}

th {
	background: #5C5C5C;
	color: white;
}

tbody tr td.mandatory {
	background:#FFA644;
}

tbody tr td.stretch {
	background: #FFD3A1;
}

li, p, h2 {
	padding-top: 10px;
}
