<td class="mandatory">
    Uses abstraction to solve common problems and improve efficiency throughout department
</td>
<td class="mandatory">
    Has significant influence on codebases using a variety of frameworks and styles. Able to quickly familiarize themselves with most codebases in the company
</td>
<td class="mandatory">
    Works on multiple languages and stacks to achieve results. Ensures language choices consider long-term implications to the company
</td>
<td class="mandatory">
    Teaches others in the company of software practices and design principles. Understands and teaches how to build resilient systems
</td>
