<td class="mandatory">
    Can handle most complex bugs and features. Understands the impact of their work on teams in other departments. Can quickly debug problems on production systems
</td>
<td class="mandatory">
    Has deep knowledge of multiple codebases with a variety frameworks and styles. Strong awareness of available technologies (e.g. AWS)
</td>
<td class="stretch">
    Can work in multiple languages to rarely have dependencies on others when building features that span multiple stacks
</td>
<td class="mandatory">
    Has strong understanding of and applies software practices and design principles. System design considers appropriate level of resiliency
</td>
