---
---

$black: #000000;
$white: #FFFFFF;

$orange-80: #FFA644;
$orange-40: #FFD3A1;

$charcoal: #333333;
$charcoal-80: #5C5C5C;
$charcoal-60: #858585;
$charcoal-20: #D6D6D6;

body {
	font-family: Tahoma, sans-serif;
	color: $charcoal;
	background-color: $white;
	margin: 40px;
}

header img {
	float: left;
}

/* the nav */
nav ul {
	margin: 0;
	list-style: none;
	float: right;

	li{
		display: inline-block;
		position: relative;
		text-align: left;
		padding-top: 0px;
	}


	li.dropdown a {
		display: block;
		padding: 8px 25px;
		color: $charcoal;
	}

	li.dropdown>a {
		text-decoration: none;
	}

	li.dropdown>a::after {
		color: $charcoal-60;
		font-size: 75%;
		content: " \25BC";
	}

	li.dropdown ul {
		min-width: 100%;
		background: $charcoal-20;
		display: none;
		position: absolute;
		z-index: 999;
		left: 0;
		padding-left: 0;
	}

	li.dropdown:hover ul {
		display: block;
		padding-bottom: 20px;
	}

	li ul.dropdown li{
		display: block;;
	}
}

h1 {
	padding-top: 15px;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
}

.clear {
	clear: both;
}

i {
	color: $charcoal-80;
}

a:link, a:visited, a:hover {
	color: $black;
}

table {
	border-spacing: 0px;

	th, td {
		border: 1px solid $white;
	}

	th, td {
		padding: 10px;
		width: 1%;
	}

	td {
		background: $charcoal-20;
		vertical-align: top;
	}

	th {
		background: $charcoal-80;
		color: white;
	}

	tbody {
		tr td.mandatory {
			background: $orange-80;
		}

		tr td.stretch {
			background: $orange-40;
		}
	}
}

li, p {
	padding-top: 10px;
}

@media print {
	nav {
		display: none;
	}

	body * {
		font-size: 90%;
	}

	body {
		-webkit-print-color-adjust: exact;
		table {
			th, td {

				padding: 5px;
				width: 1%;
			}
		}
	}
}
