<td class="mandatory">
    Ensures consistency in measuring of impact across department
</td>
<td class="mandatory">
    Assess and challenges ideas based on ROI. Provides technical input on strategy
</td>
<td class="mandatory">
    Introduces languages or frameworks that ease development. Adapts Scout24 best practices for department. Fosters collaboration across the company
</td>
<td class="mandatory">
    Understands long term goals of department and helps with decision making to achieve those goals
</td>
<td class="stretch">
    Builds tools to improve efficiency of own department
</td>
