<td class="mandatory">
    Coaches anybody within team
</td>
<td class="mandatory">
    Uses data to form opinions. Accepts outcomes that are adverse to their own opinion
</td>
<td class="mandatory">
    Gives timely, direct, constructive, respectful, potentially difficult feedback to peers
</td>
<td class="mandatory">
    Improves processes in team, occasionally takes ownership of team processes
</td>
<td class="mandatory">
    Constructively challenges priorities in the team's backlog
</td>
<td class="mandatory">
    Reviews homework (if applicable). Able to drive technical interviews
</td>
