<td class="mandatory">
    Coaches engineers in the company, comfortable working in most teams
</td>
<td class="mandatory">
    Role model for using data to build consensus
</td>
<td class="mandatory">
    Gives guidance to VPs and CTOs on areas for improvement. Gives feedback to Lead Engineers
</td>
<td class="mandatory">
    Changes processes in the company, leads to measurable improvement
</td>
<td class="mandatory">
    Works with VPs & CTOs to improve the company. Helps prioritise tech initiatives across the company
</td>
<td class="mandatory">
    Interviews senior candidates. Uses network and/or events to attract staff
</td>
