<td class="stretch">
    Coaches junior engineers
</td>
<td class="stretch">
    Constructively challenges opinions of others to achieve positive outcome
</td>
<td class="mandatory">
    Gives useful feedback directly or indirectly on peers. Gives feedback on team’s pain points
</td>
<td class="mandatory">
    Understands team processes, provides input to improve
</td>
<td class="mandatory">
    Able to prioritise daily work and communicate these decisions effectively
</td>
<td class="stretch">
    Reviews homework (if part of interview process). Participates in technical interviews
</td>
