<td class="mandatory">
    Demonstrates passion to learn, applies learnings to improve department
</td>
<td class="mandatory">
    Multiple delivery teams noticeably benefit from Lead Engineer
</td>
<td class="mandatory">
    Known expert in department. Improves practices in department. Ensures tech health
</td>
<td class="stretch">
    Improves skills of those in the company, occasionally works beyond core department
</td>
<td class="stretch">
    Talks at public events. Contributes to open source projects
</td>
