<!DOCTYPE html>
<html>
<head>
	<title>Scout24 Careers: {{ page.title }}</title>
	<link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}">
</head>

<body>
	<header>
		<nav role="navigation">
			<img src="{{"/assets/images/logo.png" | relative_url}}">

			<ul>
				<li><a href="{{"/" | relative_url}}">Home</a></li>

				<li class="dropdown">
					<a href="#">Levels & Definitions</a>

					<ul>
						<li>
							<a href="{{"/docs/influence.html" | relative_url}}">
								Expected Influence
							</a>
						</li>

						<li>
							<a href="{{"/docs/collaboration-and-communication.html" | relative_url}}">
								Expected Collaboration & Communication
							</a>
						</li>
				
						<li>
							<a href="{{"/docs/functional-ability.html" | relative_url}}">
								Expected Functional Ability
							</a>
						</li>
				
						<li>
							<a href="{{"/docs/quality-and-reliability.html" | relative_url}}">
								Expected Quality & Reliability
							</a>
						</li>
				
						<li>
							<a href="{{"/docs/business-impact.html" | relative_url}}">
								Expected Business Impact
							</a>
						</li>
					</ul>
				</li>
    			
				<li class="dropdown">
					<a href="#">Reference</a>

					<ul>
						<li>
							<a href="{{"/docs/how-to-read-this.html" | relative_url}}">
								How to Read Levels & Definitions
							</a>
						</li>

						<li>
							<a href="{{"/docs/available-engineering-job-titles.html" | relative_url}}">
								Available Engineering Job Titles
							</a>
						</li>

						<li>
							<a href="{{"/docs/promotion-endorsements.html" | relative_url}}">
								Promotion Endorsements
							</a>
						</li>

						<li>
							<a href="{{"/docs/glossary.html" | relative_url}}">
								Glossary
							</a>
						</li>

						<li>
							<a href="https://github.com/Scout24/ic-levels-and-titles" target="_blank">
								Source & Readme
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>

	<div class="clear">
		<h1>{{ page.title }}</h1>

		{{ content }}
	</div>
</body>
</html>
